<form class="form-group registerGrid">
  <h1 class="text-center title">Register</h1>

    <div class="card-body cardBackground fName">
      fName
    </div>
    <div class="card-body cardBackground lName">
      lName
    </div>
    <div class="card-body cardBackground uName">
      uName
    </div>
    <div class="card-body cardBackground eMail">
      email
    </div>
    <div class="card-body cardBackground age">
      age
    </div>
    <div class="card-body cardBackground country">
      country
    </div>
    <div class="card-body cardBackground state">
      state
    </div>
    <div class="card-body cardBackground city">
      city
    </div>
    <div class="card-body cardBackground pwd">
      password
    </div>
    <div class="card-body cardBackground signUp">
      Sign Up Button
    </div>
</form>
