.registerGrid {
  height: 90%;
  width: 70%;
  display: grid;
  align-items: center;
  padding: 5%;
  grid-gap: 5%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 0,5fr repeat(4,1fr);
  grid-template-areas:
  "title title title"
  "fName lName uName"
  "eMail eMail age "
  "country state city "
  "pwd pwd signUp";
}
.title {
  grid-area: title;
  justify-content: center;
  text-align: center;
  color: white;
}
.fName {
  grid-area: fName;
  justify-content: center;
}
.lName {
  grid-area: lName;
  justify-content: center;
}
.uName {
  grid-area: uName;
  justify-content: center;
}
.eMail {
  grid-area: eMail;
  justify-content: center;
}
.age {
  grid-area: age;
  justify-content: center;
}
.country {
  grid-area: country;
  justify-content: center;
}
.state {
  grid-area: state;
  justify-content: center;
}
.city {
  grid-area: city;
  justify-content: center;
}
.pwd {
  grid-area: pwd;
  justify-content: center;
}
.signUp {
  grid-area: signUp;
  justify-content: center;
}
