<form class="form-group loginGrid">
    <h1 class="text-center title">Login</h1>
    <div class="uName card-body cardBackground">
      <label for="username">User Name :</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name" name="username">
    </div>
    <div class="pwd card-body cardBackground">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password" name="password">
    </div>
    <div class="mess card-body cardBackground" *ngIf='invalidLogin'>
      <div *ngIf='invalidLogin'>{{errorMessage}}</div>
    </div>
    <div class="submitBut">
      <button (click)=handleLogin() class="btn btn-success">Login</button>
    </div>

</form>
