/*Login grid */
.loginGrid {
  height: 90%;
  width: 100%;
  border: solid 2px;
  display: grid;
  align-items: center;
  padding: 10%;
  grid-gap: 3%;
  grid-template-columns: 1fr;
  grid-template-rows: 0,5fr repeat(4,1fr);
  grid-template-areas:
  "title"
  "uName"
  "pwd"
  "mess"
  "submitBut";
}
.title {
  grid-area: title;
  justify-content: center;
  text-align: center;
  color: white;
}
.uName {
  grid-area: uName;
  justify-content: center;
}
.pwd {
  grid-area: pwd;
  justify-content: center;
}
.mess {
  grid-area: mess;
  justify-content: center;
  text-align: center;
  color: red;
  font-weight: bold;
}
.submitBut {
  grid-area: submitBut;
  justify-content: center;
  text-align: center;
}
