/*Welcome grid */
.welcomeGrid {
  height: 90%;
  width: 100%;
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  padding: 3%;
  //grid-gap: 1%;
  grid-template-columns: 0,5fr 1fr 0,5fr 1fr 0,5fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". ban ban ban ."
  ". logIn . register .";
}
.ban {
  width: 100%;
  grid-area: ban;
  justify-content: center;
  justify-self: center;
  text-align: center;
}
.logIn {
  grid-area: logIn;
  border: solid 2px;
}
.register {
  grid-area: register;
  border: solid 2px;
}
