/*Welcome grid */
.welcomeGrid {
  height: 90%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 3%;
  grid-gap: 1%;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "ban ban"
  "logIn register";
}
.ban {
  grid-area: ban;
  justify-content: center;
  text-align: center;
}
.logIn {
  grid-area: logIn;
  justify-content: center;
}
.register {
  grid-area: register;
  justify-content: center;
}
